<div class="card">
  <h5 class="card-header">Search results for "{{q}}"</h5>
  <div class="card-body">
    {{#if empty}}
    <div class="row">
      <div class="col">
        <p>Không có sản phẩm!</p>
      </div>
    </div>
    {{else}}
    <div class="row row-gap-3">
      {{#each products}}
      <div class="col-md-6">
        <div class="card">
          <img src="/static/imgs/sp/{{proid}}/main_thumbs.jpg" class="card-img-top" alt="{{proname}}">
          <div class="card-body">
            <h4 class="card-title">{{proname}}</h4>
            <h5 class="card-title text-danger">{{format_number price}}</h5>
            <p class="card-text">{{tinydes}}</p>
          </div>
          <div class="card-footer">
            <a href="/products/details?id={{proid}}" class="btn btn-sm btn-outline-primary">
              <i class="bi bi-eye"></i>
              View Details
            </a>
            <a href="#" class="btn btn-sm btn-outline-success">
              <i class="bi bi-cart-plus"></i>
              Add to Cart
            </a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>