<nav class="navbar">
  <div class="logo">Hogwarts Academy</div>

  {{!-- KHỐI LINKS CHÍNH --}}
  <ul class="nav-links">
    <li><a href="/course">Home</a></li>
    <li class="dropdown" id="main-navbar">
      <a href="#">Courses ▾</a>
      <ul class="dropdown-menu">
        {{#each global_categories}} {{!-- Mở each Categories --}}
        <li class="sub-dropdown">
          <a>{{CatName}}</a>
          {{#if subcategories.length}} {{!-- Mở if subcat --}}
          <ul class="sub-menu">
            {{#each subcategories}} {{!-- Mở each subcat --}}
            <li><a href="/course/bycat?catid={{../CatID}}&subcatid={{SubCatID}}">{{SubCatName}}</a></li>
            {{/each}} {{!-- Đóng each subcat --}}
          </ul>
          {{/if}} {{!-- Đóng if subcat --}}
        </li>
        {{/each}} {{!-- Đóng each Categories --}}
      </ul>
    </li> {{!-- Đóng li dropdown Courses --}}

    {{!-- Link Admin/Instructor (Nằm trong ul.nav-links) --}}
    {{#if isAuthenticated}} {{!-- Mở if Auth --}}
    {{#ifCond authUser.UserPermission '===' '0'}} {{!-- Mở ifCond Admin --}}
    <li><a href="/admin/user/list" style="color: #FFD700; font-weight: bold;">Admin Panel</a></li>
    {{/ifCond}} {{!-- Đóng ifCond Admin --}}
    {{#ifCond authUser.UserPermission '===' '1'}} {{!-- Mở ifCond Instructor --}}
    <li><a href="/management/course" style="color: #FFD700; font-weight: bold;">My Courses</a></li>
    {{/ifCond}} {{!-- Đóng ifCond Instructor --}}
    {{/if}} {{!-- Đóng if Auth --}}
  </ul> {{!-- Đóng ul.nav-links --}}

  {{!-- KHỐI TÌM KIẾM (Nằm ngoài ul.nav-links) --}}
  <form class="d-flex search-form" role="search" action="/course/search" method="get">
    <input class="form-control" type="text" placeholder="Search..." name="q" required>
    <button class="btn magic-btn search-btn" type="submit"><i class="bi bi-search"></i> Search</button>
  </form>

  {{!-- KHỐI USER MENU / LOGIN (Nằm ngoài ul.nav-links) --}}
  <div class="auth-section">
    {{#if isAuthenticated}} {{!-- Mở if Auth 2 --}}
    <div class="nav-item dropdown user-menu"> {{!-- Dùng div thay vì li --}}
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Welcome, <b>{{authUser.UserName}}</b>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        {{!-- Link Profile --}}
        {{#ifCond authUser.UserPermission '===' '1'}} {{!-- Mở ifCond Instructor 2 --}}
        <li><a class="dropdown-item" href="/management/profile"><i class="bi bi-person-circle"></i> My Profile</a></li>
        {{else}} {{!-- Đóng ifCond Instructor 2, Mở else Student/Admin --}}
        <li><a class="dropdown-item" href="/account/profile"><i class="bi bi-person-circle"></i> Profile</a></li>
        {{/ifCond}} {{!-- Đóng else Student/Admin --}}

        {{!-- Link My Learning (Chỉ Student) --}}
        {{#ifCond authUser.UserPermission '===' '2'}} {{!-- Mở ifCond Student --}}
        <li><a class="dropdown-item" href="/course/courselist"><i class="bi bi-journal-bookmark"></i> My Learning</a>
        </li>
        {{/ifCond}} {{!-- Đóng ifCond Student --}}

        {{!-- Các link chung --}}
        <li><a class="dropdown-item" href="/account/wishlist"><i class="bi bi-heart"></i> Wishlist</a></li>
        <li><a class="dropdown-item" href="/account/change-password"><i class="bi bi-key"></i> Change Password</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="javascript:document.querySelector('#frmSignout').submit();"><i
              class="bi bi-box-arrow-right"></i> Sign Out</a></li>
      </ul>
    </div>
    <form id="frmSignout" action="/account/signout" method="post" style="display: none;"></form>
    {{else}} {{!-- Đóng if Auth 2, Mở else Login --}}
    <div class="auth-buttons">
      <a href="/account/signin"> <button class="magic-btn">Sign In</button></a>

    </div>
    {{/if}} {{!-- Đóng else Login --}}
  </div> {{!-- Đóng auth-section --}}
</nav>